#preview {
  width: 50%;
  height: 80%;
  position: absolute;
}

.icon-360 img {
  position: absolute;
  width: 5%;
  bottom: 4%;
  left: 47.5%;
  z-index: 3;

}

.logo-360-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  /*width: clamp(120px, 25vw, 400px); */
  width: 50%;
  opacity: 15%; /* light watermark */
  pointer-events: none;
  z-index: 1;
}

model-viewer {
  z-index: 2;
}

.product-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8%;
  font-size: clamp(14px, 2.5vw, 24px);
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  z-index: 3;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .product-name {
    font-size: 30px;
  }

  .icon-360 img {
    width: 15%;
    left: 42.5%;
  }

  .logo-360-page {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-name {
    font-size: 19px;
  }

  .icon-360 img {
    width: 15%;
    left: 42.5%;
  }

  .logo-360-page {
    width: 100%;
  }
}
